@{
    ViewData["Title"] = "Home Page";

}



<div class="text-center">
    <h1 class="display-4">Movie Streaming and Downloading</h1>
  
</div>

<div class="text-center">
    <img src="/images/camera.jpg" alt="logo" width="200">
</div>

